body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #141414; /* Netflix-like dark background */
    color: #ffffff;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #e50914;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-bar {
    width: 70%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1em;
}

#search-button {
    background-color: #e50914;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#search-button:hover {
    background-color: #f40612;
    transform: scale(1.05);
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.movie-card {
    background: #333;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s;
}

.movie-card:hover {
    transform: scale(1.1);
    background-color: #444;
}

.movie-poster {
    width: 100%;
    border-radius: 5px;
}

h3 {
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
}
